.content {
  display: flex;
  flex-direction: column;
  gap: 92px;
  padding-top: 56px;
}

@media (max-width: 1023px) {
  .content {
    gap: 88px;
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .content {
    gap: 64px;
    padding-top: 40px;
  }
}
