.header {
  width: min(100% - 96px, 984px);
  margin: 0 auto;
  padding-top: 34px;
}

.header__logo {
  width: 254px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .header {
    width: min(100% - 32px, 720px);
    padding-top: 20px;
  }

  .header__logo {
    width: 188px;
  }
}
