.intro {
  width: min(100% - 96px, 984px);
  margin: 0 auto;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 32px;
}

.intro__title {
  margin: 0;
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__quote {
  margin: 0;
  max-width: 720px;
}

.intro__quote-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.34;
  color: #e8e8e8;
}

.intro__quote-author {
  display: block;
  margin: 16px 0 0;
  font-size: 16px;
  color: #d0d0d0;
  text-align: right;
  line-height: 1.34;
}

.intro__description {
  margin: 0;
  max-width: 720px;
  font-size: 16px;
  line-height: 1.63;
  color: #d7d7d7;
  text-align: left;
}

@media (max-width: 1023px) {
  .intro {
    width: min(100% - 48px, 720px);
  }
}

@media (max-width: 767px) {
  .intro {
    width: min(100% - 32px, 288px);
  }

  .intro__container {
    gap: 20px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote-text {
    font-size: 24px;
    line-height: 1.25;
  }

  .intro__quote-author {
    font-size: 16px;
  }

  .intro__description {
    font-size: 14px;
    line-height: 1.63;
  }
}
